@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.main button {
    border-radius: 5px;
    padding: 8px 11px 8px 11px;
}

.red{
    color:#f24259;
}

.button1 {
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgb(0, 0, 0);
    margin-right: 5px;
    background: transparent;
}

.button2 {
    font-family: 'Poppins', sans-serif;
    background-color:#f24259;
    color: aliceblue;
    margin-left: 5px;
}

.main{
    padding: 5cm;
    text-align: center;
}

.main h3 {
    font-family: 'Nova Oval', cursive;
    font-size: 40px;
}

.main span {
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.main p {
    font-family: 'Poppins', sans-serif;
    word-spacing: 1.5px;
    font-size: 17px;
}
